@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html{
    scroll-behavior: smooth;
}

:root {
    --dark: #081b29;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}

body{
    /* background: #081b29; */
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: .3s;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover, .navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    /* background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
    background: #081b29;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: .30s;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: .40s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: .50s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 1s;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 1.10s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5;
}

.home-sci a:hover{
    color: #133847;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 800px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: minipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 100;
}

.home-imgHover:hover{
    background-color: #081b29;
    opacity: .8;
}

/* Sections and scroll */

.second-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #081b29;
    overflow-x: hidden;
}

h1{
    position: relative;
    font-size: 90px;
    color: #fff;
}

p{
    position: relative;
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
}

.second-sec .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

.second-sec.show-animate .animate{
    opacity: 1;
    filter: blur(0);
}

.sec-1 .animate{
    transform: translateX(-100%);
}

.sec-1.show-animate .animate{
    transform: translateX(0);
}

.sec-2 .animate{
    transform: translateX(100%);
}

.sec-2.show-animate .animate{
    transform: translateX(0);
}

.sec-2 p{
    color: #0f0;
}

.sec-3 .animate{
    transform: scale(.7);
}

.sec-3.show-animate .animate{
    transform: scale(1);
}

.sec-3 p{
    color: #e0f;
}

.sec-4 .showRight-animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}

.sec-4.show-animate .showRight-animate{
    width: 0;
}

.sec-4 p{
    color: #ff0;
}

.sec-5 .images img{
    max-height: 600px;
    margin: 0 50px;
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.sec-5.show-animate .images img{
    transform: translateX(0);
}

/* KEYFRAMES ANIMATION */
@keyframes showRigth{
    100%{
        width: 0;
    }
}

@keyframes minipActiveHover{
    100%{
        pointer-events: auto;
    }
}

/* Notifications */

.notifications-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--dark);
}

.notifications {
    position: fixed;
    top: 60px;
    right: 20px;
}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.notifications .toast {
    position: relative;
    overflow: hidden;
    width: 400px;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translate(100%);
    }
    40% {
        transform: translate(-5%);
    }
    80% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-10px);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translate(-10px);
    }
    40% {
        transform: translate(0%);
    }
    80% {
        transform: translate(-5%);
    }
    100% {
        transform: translate(calc(100% + 20px));
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast .column i {
    font-size: 1.75rem;
}

.toast.success::before, .btn#success {
    background: var(--success);
}

.toast.warning::before, .btn#warning {
    background: var(--warning);
}

.toast.info::before, .btn#info {
    background: var(--info);
}

.toast.error::before, .btn#error {
    background: var(--error);
}

.toast.success .column i {
    color: var(--success);
}

.toast.warning .column i {
    color: var(--warning);
}

.toast.info .column i {
    color: var(--info);
}

.toast.error .column i {
    color: var(--error);
}

.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
    color: #081b29;
}

.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

.toast i:last-child:hover {
    color: var(--dark);
}

.buttons .btn{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

@media screen and (max-width: 530px) {
    .notifications{
        width: 95%;
    }
    .notifications .toast{
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }
    .buttons .btn{
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}

/* Card slider */

.card-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 35px;
    background: #081b29;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img{
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: #081b29;
}

.card span{
    color: #6a6d78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}

/* TEXT TYPING */

.text-type {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #081b29;
}

.text-type h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.text-type h1 span {
    color: #BD53ED;
    position: relative;
}

.text-type h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

.text-type h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}

nav .fas {
    display: none;
}
@media screen and (max-width: 576px) {

    .header a{
        display: none;
    }

    nav .fas {
        display: block;
    }

    .navbar {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    .navbar a {
        display: block;
        margin: 25px;
    }

    .navbar .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}